* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body,
html {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.container {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
  background-color: lightgray;
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 100vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 20px 0;
}

.content__header {
  width: 100%;
  height: 20%;
  background-color: lightsteelblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-bottom: none;
}

.content__body {
  width: 100%;
  height: 50vh;
  background-color: lightslategray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid black;
  border-bottom: none;
}

.content__input {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.content__output {
  width: 100%;
  height: 80%;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: lightslategray;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  overflow: auto;
  border: 1px solid black;
}

.content__output-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-content__title {
  font-size: 26px;
}

.header-content__decription {
  font-size: 20px;
  font-weight: normal;
}

.body-content__input {
  font-size: 20px;
  color: #e6e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-content__input:nth-child(0) {
  margin-top: 10px;
}

.body-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.origin-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.destination-input {
  width: 100%;
}

.output-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.output-content__output {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 0 80px;
}

.input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.dates__departure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dates__return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.output-text {
  font-size: 20px;
  color: #e6e3e3;
}

.output-p {
  margin: 0;
  font-size: 20px;
  color: #e6e3e3;
}

.created-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.created-div :nth-child(even) {
  background-color: yellow;
}

.parent-div {
  width: 80%;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e6e3e3;
  font-size: 24px;
  border: 1px solid white;
  margin: 5px 0;
  padding: 20px;
}

.parent-div p {
  padding: 0;
  margin: 2px 0;
  text-align: center;
}

.submit {
  height: 35px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 12px;
  width: 15%;
}

.refresh {
  width: 18%;
  border-radius: 10px;
  height: 35px;
  text-transform: uppercase;
  font-size: 18px;
}

.select-input {
  width: 40%;
}

.input {
  border-radius: 8px;
}

a:visited {
  color: blue;
}

input,
select {
  height: 40px;
}

@media screen and (max-width: 1325px) {
  .submit {
    width: 15%;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .refresh {
    width: 20%;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 980px) {
  .content__output {
    height: 100vh;
    margin: 0;
  }

  .refresh {
    width: 25%;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 936px) {
  .content__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-content {
    max-height: inherit;
  }

  .body-content__input {
    font-size: 25px;
  }

  .parent-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .parent-div p {
    padding: 0;
    margin: 4px 0;
    text-align: center;
  }
}

@media screen and (max-width: 630px) {
  .dates {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 426px) {
  .content__input {
    padding: 0 20px;
  }

  .content__input input {
    margin-bottom: 10px;
  }

  .content__input label {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 425px) {
  body,
  html {
    background-color: lightgray;
  }

  .wrapper {
    height: auto;
  }

  .container {
    height: auto;
    width: 100vw;
  }

  .content {
    position: relative;
    height: auto;
    width: 95%;
    margin: 0 auto;
    top: 0;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .content__header {
    height: 0%;
  }

  .content__header h1 {
    text-align: center;
  }

  .content__header h2 {
    text-align: center;
  }

  .content__body {
    height: auto;
  }

  .content__output {
    width: 100%;
    height: 0%;
    padding-top: 20px;
    overflow-x: hidden;
    padding: 0;
  }

  .content__output-body {
    padding: 10px 0 0 0;
    margin: 0;
    min-width: 100%;
  }

  .parent-div {
    width: 90%;
    height: 0%;
    font-size: 27px;
  }

  .submit {
    width: 45%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .refresh {
    width: 48%;
    height: 40px;
    font-size: 20 px;
    margin-bottom: 10px;
  }
}